# Core data
pandas
numpy
pyarrow
scipy
IPython
ipykernel

# Visualization
matplotlib
seaborn
glasbey # colorblind palettes

# ML support
scikit-learn
xgboost
umap-learn
torch
shap

# Testing
pytest

# Linting / formatting
ruff==0.15.12
nbqa
